<form (ngSubmit)="onSubmit()">
  <app-control label="Title">
    <input
      id="title"
      type="text"
      name="title"
      #input
      [(ngModel)]="enteredTitle"
    >
  </app-control>
  <app-control label="Request">
    <textarea
      id="request"
      type="text"
      rows="3"
      name="request"
      #input
      [(ngModel)]="enteredRequest"
    ></textarea>
  </app-control>
  <p>
    <button appButton>
      Submit
      <span class="icon">⌲</span>
    </button>
  </p>
</form>